.header{
    background-color: #6F8BE9;
    padding: 10px 15px;
    width: 50%;
    height: 100%;
    min-width: 150px;
    position: fixed;
    display: flex;
    justify-content: start;
    flex-direction: column;
    z-index: 100;
    transition: .6s ease-in-out;
}
.header>img{
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}
.navbar{
    font-family: Poppins;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.navbar div{
    display: flex;
    justify-content: start;
    align-items: center;
}
.navbar div img{
    /* changer */
    width: 35px;
    height: 35px;
}
.navbar div a{
    text-decoration: none;
    color: white;
    padding-left: 20px;
    /* changer */
    font-size: 1rem;
}



/* MEDIA */
@media (min-width:768px) {
    .header{
        width: 20%;
    }
    .navbar{
        height: 50%;
    }
    .navbar div img{
        height: 50px;
        width: 50px;
    }
    .navbar div NavLink{
        font-size: 1.3rem;
    }
}
