.container,.container2 {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  flex-direction: column;
  height: 50vh;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
}
.container2{
  height: 75vh;
}
.container img,.container2 img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.container h1 ,.container2 h1{
  font-size: 1.3rem;
  text-align: center;
}
.container form,.container2 form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 25px;
  height: 100%;
  width: 100%;
}
.container input,.container2 input {
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px grey;
}
.container input:focus,.container2 input:focus {
  outline: none;
  box-shadow: 0px 0px 10px #6f8be9;
}
.container button,.container2 button {
  width: 100px;
  margin: 0 auto;
  padding: 7px;
  border-radius: 5px;
  border: none;
  background-color: #6f8be9;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.container button:hover,.container2 button:hover {
  transform: scale(1.1);
}

@media (min-width: 576px) {
  .container {
    width: 40%;
    height: 75vh;
  }
  .container img,.container2 img {
    width: 150px;
    height: 150px;
  }
  .container2{
  height: 85vh;
  width: 40%;
}
}
